<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://th.bing.com/th/id/R.36e05e32042bbae6a17da30374fca8fd?rik=f5msXMBisZ9lqA&riu=http%3a%2f%2fimg.huffingtonpost.com%2fasset%2f2000_1000%2f5798cd812400002600b3361b.png&ehk=dCqZsfdh6kCaPYIDYS1rcouHsA2pkCQ9RgeaAF5CpVE%3d&risl=&pid=ImgRaw&r=0"
      cardTitle="POKEDEX COM JAVASCRIPT"
      cardDescription="Projeto desenvolvido como exercício do bootcamp Potência Tech Angular Developer - Powered by iFood"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Curriculo vitae HTML e CSS"
      photoCover="https://th.bing.com/th/id/OIP.8SLAMzyofulAtAilLcaIYgHaE7?pid=ImgDet&rs=1"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="README.md"
      photoCover="https://th.bing.com/th/id/OIP.Wyrw2EbvjIf7x-lOZFI2_QHaD4?pid=ImgDet&w=1200&h=630&rs=1"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Pagina de checkout em Bootstrap"
      photoCover="https://user-images.githubusercontent.com/93801467/191874536-97b1d1dc-a084-4840-90e3-372798417c77.png"
    >
    </app-small-card>
  </div>
</div>
